__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
*.h5

martina_test/metadata_p22_th45-135_ph79-109_en5-130/
.venv/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
build/
dist/
outputs/
uv.lock
ILD_l5_o1_v02.xml
.DS_Store
